/noteblock-local-service/data/noteblock.sqlite

server.iml
client.iml

identifier.sqlite
memory

*.db
*.sqlite
*.sqlite3

noteblock-local-service/data/

noteblock-local-service/bin/

dist

node_modules

noteblock-local-service/uploads

.idea

.DS_Store